.CounterOutput {
    width: 100%;
    background-color: #fa923f;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    padding: 20px 0;
    outline: none;
    box-sizing: border-box;
    
}

.CounterOutput:focus {
    outline: none;
}